.header {
    background: white;
    border-bottom: 1px solid #D3D3D3;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    color: #8a7064;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8a7064;
    font-family: 'Cormorant Garamond', serif;
}

.form {
    margin: 0 auto;
    width: 45%;
    text-align: center;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #ac968c;
    color: white;
    font-size: 14px;
    font-weight: normal;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.confirm-table__text__text {
    width: 92%;
    color: #ac968c;
    display: inline-block;
    text-align: left;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
}

.confirm-table__text input {
    width: 92%;
    outline: none;
    border: none;
    color: #ac968c;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}



.form__button-group {
    position: relative;
    width: fit-content;
    margin: 30px auto;
}

.form__button-submit {
    padding: 8px 20px;
    font-size: 14px;
    background: #8a7064;
    color: #fff;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    width: 100px;
}

.modify {
    position: absolute;
    top: 0;
    right: -110px;
    display: inline-block;
    padding: 8px 30px;
    font-size: 14px;
    color: #ac968c;
}
